<div fxLayout="row">
  <div class="example-container" fxFlex="70">
    <div style="height: 80px">
      <h2 style="margin: 0; padding: 20px 0">Agenda</h2>
      <div style="clear: both;"></div>
    </div>
    <div fxLayout="column">
      <div *ngFor="let block of todoBlocks" class="agenda-group-container" fxFlex>
        <div class="agenda-group-header">
          {{block.name}} ({{dayDur(block.start)}}-{{dayDur(block.end)}})
        </div>
        <div
          class="example-list">
          <agenda-time-block *ngFor="let item of block.blocks" [item]="item" class="example-box">
          </agenda-time-block>
        </div>
        <!--          [cdkDropListConnectedTo]="[doneList]"-->
        <!--      [cdkDropListConnectedTo]="[todoList]"-->
      </div>
    </div>
  </div>
  <div class="example-container" fxFlex="30">
    <div style="height: 80px">
      <h2 style="margin: 0; padding: 20px 0">Time Block</h2>
    </div>
    <div
      class="example-list">
      <agenda-time-block *ngFor="let item of doneBlocks" [item]="item" class="example-box">
      </agenda-time-block>
    </div>
  </div>
</div>
